<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<dl>
  <dt><%= @cocktail.name %></dt>
  <dd><%= cl_image_tag @cocktail.photo, height: 150, width: 150, crop: :fill %></dd>
</dl>

<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to home", cocktails_path %>
